.box {
    --size: 50px;
    --p: 25px;
    --R: 55.9px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
    
    height: 500px;
    -webkit-mask:
      radial-gradient(var(--R) at 70% calc(100% - (var(--size) + var(--p))),#ffffff 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--R) at 70% calc(100% + var(--p)),#0000 99%,#056D61 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
    background:linear-gradient(90deg,#056D61,#ffffff);  
    border: none;
  }

  .box p {
    margin-top: 150px;
    color: white;
    font-size: 70px;
  }